.idea/
.vscode/
.DS_Store
node_modules/
dist/
*.log
*.user
*.pem
*.iml
.cache/

xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

native-messaging-host/build/
